body {
    margin: 0px auto;
}

#wrapper {
    margin: 0px 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center
}

.mainboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .card {
        margin: 3px;
        width: 300px;
        border: 2px solid black;
    }

    ul {
        list-style: none;
        border: 2px solid black;
        height: 300px;
        overflow: auto;
    }